body{
    font-family: Poppins;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    align-items: center;
}
button{
    color: #D0B200;
    background-color: white;
    border-color: #D0B200;
    border-radius: 5px;
    font-size: 15px;
}